[Unit]
Description=Docker Harbormaster
After=network.target

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
RestartSec=10s
ExecStartPre=-/usr/sbin/hbm init
ExecStart=/usr/sbin/hbm server

[Install]
WantedBy=multi-user.target docker.service
